<title>Data Science</title>

<p>
Data science is the field that deals with extracting actionable insights from a sea of data using various statistical and computational techniques. This covers a wide range of tasks including cleaning and munging, visualisations, statistical modelling and machine learning. These techniques are implemented by data scientists to uncover insights in data and to make predictions, to guide management decisions. These data types may include structured data and unstructured data.
</p>

<h4>List of Data Science Languages : </h4>
<ol>
    Python <br>
    R-language<br>
    JAVA<br>
    Julia<br>
    Scala<br>
    MatLab<br>
</ol>

<h4>List of Data Science Libraries : </h4>
<ol>
    Pandas <br>
    NumPy<br>
    SciPy<br>
    Scikit-learn<br>
    TensorFlow<br>
    Seaborn<br>
</ol>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Apache Hadoop</td>
    <td>Apache Hadoop is a free, open-source framework by Apache Software Foundation authorized under the Apache License 2.0 that can manage and store tons and tons of data.</td>
  </tr>
  <tr>
    <td>SAS (Statistical Analysis System)</td>
    <td>SAS is a closed source proprietary software that is used by large organizations to analyze data.</td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td>Apache Spark is the data science tool developed by Apache Software Foundation used for analyzing and working on large-scale data. </td>
  </tr>
  <tr>
    <td>TensorFlow</td>
    <td>TensorFlow, developed by Google Brain team, is a free and open-source software library for dataflow and differentiable programming across a range of tasks.</td>
  </tr>
  <tr>
    <td>Jupyter</td>
    <td>It is a web-based application tool running on the kernel, used for writing live code, visualizations, and presentations.</td>
  </tr>
</table>

<h4>Arithmetic Operators : </h4>
<table>
    <tr>
        <th>Operator</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>Addition</td>
        <td>7 + 5 = 12</td>
    </tr>
    <tr>
        <td>Subtraction</td>
        <td>7 - 5 = 2</td>
    </tr>
    <tr>
        <td>Multiplication</td>
        <td> 7  * 5= 35</td>
    </tr>
    <tr>
        <td>Operator</td>
        <td>7 / 5 = 1</td>
    </tr>
</table>

<h4>Arithmetic Operators : </h4>
<table>
    <tr>
        <th>Operator</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>Addition</td>
        <td>7 + 5 = 12</td>
    </tr>
    <tr>
        <td>Subtraction</td>
        <td>7 - 5 = 2</td>
    </tr>
    <tr>
        <td>Multiplication</td>
        <td> 7  * 5= 35</td>
    </tr>
    <tr>
        <td>Operator</td>
        <td>7 / 5 = 1</td>
    </tr>
</table>

In [1]:
x = 3
y = 4

print("Addition :" , end = "") 
print(x+y)
print("Multiplition :" , end = "") 
print(x*y)

Addition :7
Multiplition :12

In [3]:
minutes = int(input("Enter time in minutes : "))
print("Hours : " , end = "")
print(minutes//60)
print("Minutes : " , end = "")
print(minutes%60)

Enter time in minutes :  200

Hours : 3
Minutes : 20

<h4>Objectives : </h4>
<ul>
  <li>Analyze big data</li>
  <li>Learn techniques and tools for transformation of data</li>
  <li>Data Mining</li>
  <li>Data visualization and optimization</li>
</ul>

<h4>Course Authors : </h4>
<ul>
    <li>Aije Egwaikhide</li>
    <li>Svetlana Levitan</li>
    <li>Romeo Kienzler</li>
</ul>

<h4>Course Authors : </h4>
<ul>
    <li>Aije Egwaikhide</li>
    <li>Svetlana Levitan</li>
    <li>Romeo Kienzler</li>
</ul>